/*viewport***************************************************************************************************************/

@media only screen and (max-width: 1440px) {
  .iris-1 {
    background-color: #6b6b6b;
  }

  .iris-2 {
    background-color: #ffffff;
  }

  .iris-3 {
    background-color: #a80000;
  }

  .mitsudomoe {
    display: none;
  }

  .info {
    visibility: hidden;
    height: 20vh;
  }

  .pony{
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .sharingan-s {
    position: sticky;
    flex-direction: column;
    top: $navtop;
    min-height: 100vh;
  }

  .iris{
    border: solid;
    border-width: 0px 0px calc(100vh - 200px) calc(100vw - 200px);
  }
}

/*section*sharingan-s****************************************************************************************************/

.sharingan{

}

.sharingan-s {
  flex-direction: column;
  top: $navtop;
}

.c {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.iris {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.mitsudomoe img {
  position: absolute;
  top: -34.04%;
  left: -28.59%;
  border: solid;
  border-width: 78px;
  border-radius: 152px;
  background-color: rgba(0, 0, 0, 0.25);
}

.iris-1, .mitsudomoe-1 img {
  border-color: #6b6b6b;
}

.iris-2, .mitsudomoe-2 img {
  border-color: #ffffff;
}

.iris-3, .mitsudomoe-3 img {
  border-color: #a80000;
}

.mitsudomoe {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  img:hover {
    animation: rotate 700ms ease-in-out forwards;
  }
}

.lorem {
  position: relative;
  z-index: 2;
  padding: 50px 150px;
  width: 50vw;
  max-height: 100vh;
}

.lorem::before {
  content: url("https://erebos.xyz/PIC/blank4.png");
  position: absolute;
  top: 50px;
  left: 90px;
  width: 100px;
  height: 100px;
  transform: scaleY(-1);
  filter: blur(0.8px);
}

.lorem::after {
  content: url("https://erebos.xyz/PIC/blank4.png");
  position: absolute;
  bottom: 50px;
  right: 90px;
  width: 100px;
  height: 100px;
  transform: scaleX(-1);
  filter: blur(0.8px);
}

/*section*theteam-s*********************************************************************************************************/
.theteam-s{
  background-color: rgb(0, 57, 123);
  .members{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh - 320px);
    .member{
      display: flex;
      flex-direction: column;
      flex: 0.1;
      min-width: 100px;
      .pic{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          height: auto;
          border-radius: 100%;
        }
      }
      .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .thunder{
    position: absolute;
    bottom: 95px;
    right: 270px;
  }
  .pony{
    z-index: -1;
    position: absolute;
    height: 200px;
    width: auto;
    bottom: 0px;
    right: 0px;
  }
}

/*section*nyan-s*********************************************************************************************************/
.nyan {
  min-height: 320px;
  background-attachment: fixed;
  background-image: url(https://erebos.xyz/PIC/m33.png);
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 320px;
    h2{
      z-index: 1;
    }
    img{
      position: absolute;
      height: 160px;
      top: 80px;
      right: 80px;
    }
  }
}

.nyanlink{
  background-color: rgba(6, 85, 177, 0.63);
  background-image: url(https://erebos.xyz/PIC/grid2.png);
}

.nyan-background{
  animation: nyan-background 1000ms linear infinite;
}
