@media only screen and (max-width: 1440px) {
  .navtop {
    position: absolute;
  }

  .b {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .navtop {
    position: fixed;
    transform-origin: top;
    animation: displaynone 700ms ease-in-out;
    a {
      opacity: 0;
      animation: fadein 700ms ease-in-out forwards 700ms;
    }
  }

  .banner {
    transform-origin: top;
    transform: rotateX(90deg);
    animation: displaynone 700ms ease-in-out forwards 700ms;
    .b {
      display: flex;
    }

    * {
      opacity: 0;
      animation: fadein 700ms ease-in-out forwards 1400ms;
    }
  }
}

.site-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: $navtop;
}

.navtop {
  z-index: 9999;
  top: 1px;
  min-width: 100%;
  max-height: $navtop;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  ul {
    display: flex;
  }
  ul.level-1 {
    li {
      background-image: url(https://erebos.xyz/PIC/gg.gif);
      list-style: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:hover > ul.level-2 {
        visibility: visible;
      }
      a {
        display: block;
        width: 200px;
        text-align: center;
        padding: 13px 34px 13px 34px;
        text-decoration: none;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
      }
      ul.level-2 {
        z-index: 1;
        flex-direction: column;
        position: absolute;
        visibility: hidden;
      }
    }
  }
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 239px;
  min-height: 200px;
  height: 16.6vw;
  background-color: $banner-c;
}

.b {
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 100%;
}

.full {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: $full-c;
  .titlecontainer {
    margin-bottom: 20vh;
  }
}

.f {
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 100%;
  .eule{
    margin-top: 150px;
  }
  .kroko{
    margin-top: 390px;
  }
}

.creativetitlecontainer {
  z-index: 0;
  border-radius: 100%;
  transform: rotate(-360deg);
  transition: box-shadow 0.5s linear, transform 0.5s linear;
  background-color: rgba(255, 0, 0, 0.7);
}

.creativetitlecontainer:hover {
  transform: rotate(360deg);
  transition: box-shadow 0.5s linear, transform 0.5s linear;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
}

.titlecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlespacer {
  height: 1px;
  width: 600px;
  background: url(https://erebos.xyz/PIC/kreide.png);
  background-size: 21px;
}

#Izaya {
  width: 362px;
  height: 300px;
}

#Shizuo {
  width: 370px;
  height: 300px;
}

#seal {
  width: 150px;
  height: 150px;
}
