{% load wagtailcore_tags %}
{% block navtop %}
<div class="banner">
  <div class="b bleft">
    <img id="qr" src="https://erebos.xyz/PIC/error.png" alt="error">
  </div>
  <img id="Izaya" src="https://erebos.xyz/PIC/OriharaIzaya.png" alt="OriharaIzaya">
  <div class="titlecontainer">
    <h1>{{ h.value.banner }}</h1>
  </div>
  <img id="Shizuo" src="https://erebos.xyz/PIC/HeiwajimaShizuo.png" alt="HeiwajimaShizuo">
  <div class="b bright">
    <img id="seal" src="https://erebos.xyz/PIC/seal13.gif" alt="seal13">
  </div>
</div>
{% endblock %}
